# =====================
# Miscellaneous
# =====================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =====================
# IDEs
# =====================
*.iml
*.ipr
*.iws
.idea/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# =====================
# Flutter / Dart
# =====================
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# =====================
# Android
# =====================
/android/app/debug
/android/app/profile
/android/app/release

# =====================
# Node / Web
# =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/

# =====================
# Python / Backend
# =====================
__pycache__/
*.pyc
.env
.env.local
venv/
